.navbar{
    display: flex;
    justify-content: space-between;
    height: 4.0rem;
    background: linear-gradient(90deg, #242424 50.94%, #34526e 190.78%);
    padding:  0 2.0rem ;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.item{
    margin-right: 1em;
    
}

.item a{
    color: rgba(255, 255, 255, 0.589);
    text-decoration: none;
    font-family:'Inter', sans-serif;
    font-weight:400;
    transition: 0.3s;
    position: relative;
    transition: 0.3s ease-in-out; 
}
.item a::after{
 content:"";
 position: absolute;
 background-color: #E92218;
 height: 1px;
 width: 0%;
 left: 50%;
 bottom: -5px;
 transition: 0.3s ease-in-out; 
}

.item :hover::after{
    width: 100%;
    left: 0;
} 
.item a:hover{
    color: white;
}


.logo {
    text-decoration: none;
    color: #f6f6f6;
    line-height: 1.4;
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    font-family:'Montserrat', sans-serif;
    z-index: 10;
    top: 2rem;
    transition: 1s linear;
    
  
}
.logo:hover{
    text-decoration: none;
    
    color: #34526e;
    
      
}
.glimmer{
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    width: calc(100% -0.188rem);
    height:1.16rem;
    border-radius: 10%;
    
     
}
@keyframes move {
    100% {  transform: translateX(200%); }
}
.glimmer::before{
    content: "";
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 10%;
    background: linear-gradient(90deg, #7f3492 0% 20%, #34526e 50%, #5F296D 80% 100% );
    animation: move 2s infinite;
    
}

.logoContainer{
    display: flex;
    align-items: center;
}