.btn {
    background-color: #1b1b1b;
    border-radius: 10px;
    display:flex;
    align-items: center;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;

}
.btn:hover{
    /* transform: scale(1.150); */
    color: #79a6b4; 
  
}

