.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
    margin-top: .5em;
    color: #f6f6f6;
    font-family: 'Roboto Mono', monospace;
}

.home_container h1 .blob{
    color: #f6f6f6;
    padding: 0.2em 1em;
    background-color: #C7C2E2;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;

   
    
}

.home_container h1 .AnimationTitle{
    font-size: 3.5rem;
    font-family: 'Roboto Mono', monospace;
    
    
}

.typerText{
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #f6f6f6;
}

.home_container p{
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img{
  border-radius: 100%;
    
   
}
.blob{
    z-index: 20;
    font-size: 3.5rem ;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    border-radius: 0% 20% 72% 28% / 42% 42% 10% 90%;
    background: #34526e
    url("https://i.pinimg.com/564x/a8/ea/b5/a8eab5db5f55c1729ba05c6c7e827c3a.jpg");
    background-size: cover;
    background-position: center;
    animation: morph 3.75s linear infinite;
}
.btnHome{
    z-index: 10;
    margin-top: 40px;
    background-color: #1b1b1b;
    border-radius: 10px;
    display:flex;
    align-items: center;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;

 
 
}



/* 
@keyframes morph  {
0%, 100%{
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
}

33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 20%;
}

66% {
    border-radius: 100% 56% 56% 20% / 100% 100% 56% 56%;
}
} */