.footer{
    background: linear-gradient(90deg, #242424 50.94%, #34526e 190.78%);
    padding: 3em;
    text-align: center;
    /* border-top: solid #f6f6f6 1px; */
  
}

.social_list{
    justify-content: center;
    display: flex;
    list-style-type: none;
    
}

.social_list li{
    margin: 0 1em;
    color: #f6f6f6;
    transition: .2s linear;

}

.social_list li:hover{
    color: #8f44fd;
    
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
    color:#C7C2E2
    
}

.copy_right span{
    font-weight: bold;
    color: #f6f6f6;
}